body{
    background-image: url(imagens/imagem_fundo.jpg);
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 95px;
}
h1{
    font-size: 30px;
}

button{
    font-size: 15px;
    padding: 5px;
}
p{
    text-align: center;
}
textarea{
    font-size: 15px;
}
